# Gradle
.gradle/
build/

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Minecraft
run/
runs/

# Project
*.log
.classpath
.project
.settings/
bin/